{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container marketing">



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Where the magic happens&nbsp;<span
                    class="text-body-secondary">We
                    are a global company</span></h2>
            <p class="lead">
                We're headquartered in Almaty city, with beautiful and modern offices in
                prime locations in Astana (the national capital), Shymkent, Aktobe, and Karaganda.
            <p class="lead">
                We're truly a global company, with customers in over
                150 countries.
            </p>
            </p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'images/office.jpg' %}" width="500px" height="500px" alt="">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Insightful, Tested and Trusted<span
                    class="text-body-secondary"> Don't believe us? Try
                    and see for yourself</span></h2>
            <p class="lead">
                We trust our employees to get their work done. As art navigate the future as a whole, we are reimagining
                the way
                we work in a way that fuels collaboration, productivity and happiness for both buyers and sellers.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{% static 'images/tested.jfif' %}" width="500px" height="500px" alt="">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Diversity <span class="text-body-secondary">Inclusion and Equality</span></h2>
            <p class="lead">Our mission at Art Swap is to build a workforce that is, at all levels, representative
                of the diverse global community we serve, where our employees can come to work as their authentic selves
                and can share their ideas, experiences and perspectives to fuel the creative and innovative products we
                deliver to our customers. </p>
        </div>
        <div class="col-md-5">
        <img src="{% static 'images/inclusion.jfif' %}" width="500px" height="500px" alt="">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% endblock %}