{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div>
    <div>
        <h1 class="about-us">
            {{chat.subject}}
        </h1>

        <!--Profile of support-->
        <div style="display: flex; justify-content: center;">
            {% if buyer.pfp %}
            <img src="{{buyer.pfp.url}}" alt="" class="support_pfp">
            {% else %}
            <img src="{% static 'images/blank.png' %}" alt="" class="support_pfp">
            {% endif %}
            &nbsp;
            {% if artist.pfp %}
            <img src="{{artist.pfp.url}}" alt="" class="support_pfp">
            {% else %}
            <img src="{% static 'images/blank.png' %}" alt="" class="support_pfp">
            {% endif %}


        </div>
    </div>

    {% if chat.completed == True %}
    <div>
{% else %}
    <div style="margin-bottom: 160px;">
        {% endif %}
        <!--Messages-->
        {% for msg in messages %}


        {% if chat.buyer.user == request.user %}
        {% if msg.from_artist %}
        <p class="list-group-item list-group-item-primary" style="width: 65%; padding: 1%; padding-bottom: 5%;">
            {% else %}
        <p class="list-group-item list-group-item-success"
            style="width: 65%; margin-left: 35%; padding: 1%; padding-bottom: 5%;">
            {% endif %}
            {% else %}

            {% if msg.from_artist %}
        <p class="list-group-item list-group-item-success"
            style="width: 65%; margin-left: 35%; padding: 1%; padding-bottom: 4%;">
            {% else %}
        <p class="list-group-item list-group-item-primary" style="width: 65%;  padding: 1%; padding-bottom: 4%;">
            {% endif %}



            {% endif %}





            {% if msg.image %}
            <img src="{{msg.image.url}}" alt="" style="width: 100%;">

            {% endif %} <br>
            {%if msg.body%}
            {{msg.body}}
            {% endif %}
            <br>
            <small class="datess">
                {{msg.date}}
            </small>
        </p>
        <hr>
        {% endfor %}
    </div>
    <div style="position: relative;">
        <div style="position: fixed; bottom: 0; width: 100%; background-color: white;">
            {% if chat.completed == True %}
            <div style="color: green; font-size: x-large; font-weight: 900; text-align: center;">
                {% if request.user == chat.buyer.user %}
                You bought "{{chat.piece.name}}" from {{chat.artist.name}} at ${{chat.offer}}
                {% else %}
                You sold "{{chat.piece.name}}" to {{chat.buyer.name}} for ${{chat.offer}}
                {% endif %}
            </div>
            {% else %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <label for="image">Attach image below</label>
                    <input type="file" class="form-control-file" id="image" accept="image/*" name="image">
                </div>

                <div class="form-group">
                    <textarea class="form-control" placeholder="Start typing message." name="body" rows="3"
                        maxlength="100"></textarea>
                </div>
                <div style="display: flex;">
                    <button class="btn btn-bd-primary" type="submit">Send</button>

                </div>
            </form>
            {% if request.user == chat.buyer.user %}
            {% if chat.offer %}
            <b>{{chat.artist}}</b> is yet to respond your bid of <b>${{chat.offer}}</b>.
            {% else %}
            <div class="form-group">
                <form action="{% url 'base:offer' chat.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="offer" required>
                    <button type="submit" class="btn btn-bd-primary">Make offer</button>
                 {% if chat.err %}
                 <div style="color: red;">
                    {{chat.err}}
                 </div>
                 {% endif %}
                </form>

            </div>
            {% endif %}
            {% else %}
            {% if chat.offer %}
            <span>
                <b>{{chat.buyer}}</b> bid for <b>${{chat.offer}}.</b> <a href="{% url 'base:swap' chat.chat_id %}"
                    class="btn btn-success">Accept</a> <a href="{% url 'base:offer' chat.id %}" class="btn btn-danger">Reject</a>
            </span>
            {% else %}
            <div><b>
                    {{chat.buyer}} is yet to make an offer.
                </b>
                {% if chat.artist_err %}
                <p style="color: red;">{{chat.artist_err}}</p>
                {% endif %}
            </div>
            {% endif %}
            {% endif %}
            <br>
            {% endif %}
        </div>
    </div>

</div>
<script>
    // Scroll to the bottom of the page on load
    window.onload = function () {
        window.scrollTo(0, document.body.scrollHeight);
    };
</script>
{%endblock%}