{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<h1>
    {{piece.name}} by {{piece.owner.artist.name}}
</h1>
<div style="padding: 40px;">
    <img src="{{piece.image.url}}" class="piece" alt="">
</div>
<div style="padding-left: 50px; padding-right: 50px;">
    <p>
        {{piece.description}}
    </p>
</div>

{% if piece.owner == request.user %}
<p> 
    <a class="btn btn-danger" href="">Delete this piece?</a> 
</p>
{% else %}
<p> 
    <a class="btn btn-primary" href="{% url 'base:acquire' piece.id %}">Place an offer for this piece</a> 
</p>
{% endif %}
{% endblock %}